<h1>Hello </h1>
<p>
  <strong>Company:</strong>
  <%#= @application.bprofile.name %>
</p>
<p>
   <strong>Name:</strong>
   <%#= @application.user.first_name %>
   <%#= @application.user.last_name %>
</p>
<p>
  <strong>Attachment:</strong>
  <%= @job.applications.attachment %><%= link_to "Download Attachment", @job.applications.attachment_url %>

</p>

<%#= link_to 'Edit', edit_application_path(@application) %> |
<%#= link_to 'Back', applications_path %>
